# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac files
*.DS_Store

#build dirs
build*
LabWork/DataBase/build-5Lab-Qt_6_5_3_for_macOS-Debug/ui_mainwindow.h
LabWork/DataBase/build-5Lab-Qt_6_5_3_for_macOS-Debug/Makefile
LabWork/DataBase/build-5Lab-Qt_6_5_3_for_macOS-Debug/moc_mainwindow.cpp
LabWork/DataBase/build-5Lab-Qt_6_5_3_for_macOS-Debug/moc_mainwindow.cpp
LabWork/DataBase/build-5Lab-Qt_6_5_3_for_macOS-Debug/ui_mainwindow.h
